.menu {
  font-size: 3rem;
  letter-spacing: 5px;
  margin: auto;
  width: max-content;
  background-color: #5d5447;
}

.choose-option {
  display: flex;
  margin: 2px;
  padding-left: 2px;
  background-color: black;
  color: #5d5447;
}

.option-list {
  font-weight: bold;
  margin: 2px;
  padding: 4px;
  display: flex;
  flex-direction: column;
  border: 6px solid black;
}

.option-text {
  display: flex;
  align-items: center;
  gap: 12px;
  line-height: 3rem;
  text-shadow: 4px 4px 4px black;
}

.option-text:hover .action {
  color: yellow;
  cursor: pointer;
}

.username {
  color: inherit;
}

.user-level {
  margin-left: 24px;
  color: #ff0000;
}

.input-section {
  font-size: 3rem;
  margin-top: 2rem;
  gap: 1rem;
  display: flex;
  justify-content: center;
}

.input-section input {
  font-family: "osrs";
  font-weight: bold;
  font-size: 1.5rem;
}

@media (max-width: 768px) {
  .menu {
    font-size: 1rem;
    letter-spacing: 2px;
  }

  .option-list {
    margin: 2px;
    padding: 1px;
    border: 2px solid black;
  }

  .option-text {
    gap: 2px;
    line-height: 1rem;
    text-shadow: 2px 2px 1px black;
  }

  .user-level {
    margin-left: 8px;
  }

  .input-section {
    font-size: 1.5rem;
    margin-top: 1rem;
    gap: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .input-section input {
    font-family: "osrs";
    font-weight: bold;
    font-size: 1rem;
  }
}
