.menu {
  font-size: 3rem;
  letter-spacing: 5px;
  margin: auto;
  width: max-content;
  background-color: #5d5447;
}

.choose-option {
  display: flex;
  margin: 2px;
  padding-left: 6px;
  background-color: black;
  color: #5d5447;
}

.option-list {
  font-weight: bold;
  margin: 2px;
  padding: 4px;
  display: flex;
  flex-direction: column;
  border: 6px solid black;
}

.option-text {
  display: flex;
  align-items: center;
  gap: 12px;
  line-height: 3rem;
  text-shadow: 4px 4px 4px black;
}

.option-text:hover .action {
  color: yellow;
  cursor: pointer;
}

.username {
  color: inherit;
}

.user-level {
  margin-left: 24px;
  color: #ff0000;
}

.input-section {
  display: flex;
  font-size: 3rem;
  margin-top: 2rem;
  padding: 0.5rem;
  border-radius: 10px;
  color: black;
  gap: 1rem;
  background-color: #d0bc95;
  width: 60vw;
  margin-left: auto;
  margin-right: auto;
  box-shadow: 0 0 1rem rgba(0, 0, 0, 0.25);
}

.input-section input {
  font-family: "osrs";
  font-size: 3rem;
  color: #2c29e6;
  background-color: transparent;
  border: none;
  outline: none;
}

.invalid-input {
  border: 2px solid red;
  animation: shake 0.5s ease-out;
  color: red;
}

.error-box {
  margin: auto;
  color: red;
  font-size: 2rem;
  background-color: #d0bc95;
  padding: 4px 8px;
  border-radius: 4px;
  border: 1px solid red;
  width: max-content;
}

@keyframes shake {
  0% {
    transform: translateX(0);
  }
  25% {
    transform: translateX(-5px);
  }
  50% {
    transform: translateX(5px);
  }
  75% {
    transform: translateX(-5px);
  }
  100% {
    transform: translateX(0);
  }
}

@media (max-width: 1100px) {
  .input-section {
    font-size: 2rem;
  }

  .input-section input {
    font-size: 2rem;
  }
}

@media (max-width: 768px) {
  .menu {
    font-size: 1rem;
    letter-spacing: 2px;
  }

  .option-list {
    margin: 2px;
    padding: 1px;
    border: 2px solid black;
  }

  .option-text {
    gap: 2px;
    line-height: 1rem;
    text-shadow: 2px 2px 1px black;
  }

  .user-level {
    margin-left: 8px;
  }

  .input-section {
    font-size: 1rem;
    margin-top: 1rem;
    gap: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
  }

  .input-section input {
    font-family: "osrs";
    font-weight: bold;
    font-size: 1rem;
  }
}
