.info-text {
  background-color: #d0bc95;
  margin: 2rem;
  box-shadow: 0 0 1rem rgba(0, 0, 0, 0.5);
  border-radius: 10px;
}

.info-text p {
  margin: 0;
  color: black;
  padding: 0.5rem;
  font-size: 1.5rem;
  text-align: center;
}

.info-text h1,
h2,
h3 {
  color: black;
  text-align: center;
  border-top: 1px solid black;
  padding-top: 1rem;
  margin-bottom: 0;
}

.main {
  min-height: 100vh;
  box-shadow: inset 0 0 3rem rgba(0, 0, 0, 0.45);
}

@media (max-width: 768px) {
  .info-text h1,
  h2,
  h3 {
    font-size: 1.125rem;
  }

  .info-text p {
    font-size: 1rem;
  }
}
