@font-face {
  font-family: "osrs";
  src: url("./assets/fonts/runescape.ttf") format("truetype");
}

@font-face {
  font-family: "osrs-bold";
  src: url("./assets/fonts/runescape_bold.ttf") format("truetype");
}

body {
  box-sizing: border-box;
  margin: 0;
  padding: 0;

  font-family: "osrs";
  color: white;
  background-color: #756651;
}
